<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div v-on="">事件绑定</div>
    <div v-model="">双向绑定</div>
    <div v-cloak="">页面渲染完成之后消失</div>
    <div v-once="">只渲染一次</div>
    <div v-pre="">不渲染</div>
    <div v-text="">innertext</div>
    <div v-html="">innerhtml</div>
    <div v-for="">循环</div>
    <div v-show="">显示隐藏</div>
    <div v-if="">条件判断</div>
    <div v-else="">条件判断</div>
    <div v-else-if="">条件判断</div>
    <div v-bind="">属性绑定</div>
</body>

</html>